<h1>What's your favorite Burger</h1>

<h2>Burgers that I devoured this year</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I want to devour later</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger to try</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes, and it was great!<br>
    <input type="radio" name="devoured" value="0"> Nope, add it to the list
  </div>

  <button type="submit">Add Burger</button>
</form>